body{
    background-image: url(../src/assets/i1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
h1{
    text-align: center;
    color: azure;
    font-size: 9vh;
}